asgiref==3.11.1
diff-match-patch==20241021
Django==6.0.5
django-auth-ldap==5.3.0
django-import-export==4.4.1
django-mathfilters==1.0.0
django-model-utils==5.0.0
django-post_office==3.11.2
gunicorn==26.0.0
nh3==0.3.5
numpy==2.4.6
packaging==26.2
pandas==3.0.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-ldap==3.4.7
six==1.17.0
sqlparse==0.5.5
tablib==3.9.0

