{% load static %}
{% load mathfilters %}
{% if student_list %}
<h2>Status of all students</h2>
<div>
  Attendance count:
  <table style="border: 1px solid black">
    <!-- <tr><th> Calls result </th> <th># of calls</th></tr> -->
    <tr>
      <td>Attendances</td>
      <td>
        <svg width="200" height="25">
          <rect width="{{ num_attendance }}" height="20" style="fill:rgb(0,0,255)" />
        </svg>{{ num_attendance }}
      </td>
    </tr>
    <tr>
      <td>Overall Presence rate</td>
      <td>
        <svg width="200" height="25">
          <rect width="{{ presence_rate }}" height="20" style="fill:rgb(0,0,255)" />
        </svg>{{ presence_rate }}%
      </td>
    </tr>
    {% for dat,num in attend_count_map.items %}    
    <tr> <td>{{ dat }} :</td> <td> {{ num }}</td> </tr>
    {% endfor %}
  </table> 

  Call counts:


{% comment %}
 <table style="border: 1px solid black">
    <tr>
      <td></td>
      {% for count in called_counts %}
      <td>
        <svg width="25" height="200">
          <rect y="{{ 200|sub:count }}" width="20" height="{{ count }}" style="fill:rgb(0,0,255)" />
        </svg>
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td># of students</td>
      {% for count in called_counts %}
      <td>
        {{ count }}
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td># of calls</td>
      {% for idx in called_idxs %}
      <td>{{ idx }}</td>
      {% endfor %}
    </tr>
 </table>

<table style="border: 1px solid black">
    <tr>
      {% if show_photo %}
      <th>Name</th>
      {% endif %}
      <th>Roll No</th>
      {% if show_photo %}
      <th>Photo</th>
      {% endif %}
      <th>Present</th>
    </tr>
    {% for student in student_list %}
    <tr>
      {% if show_photo %}
      <td><a href="{% url 'status' student.rollno %}">{{ student.name }}</a></td>
      {% endif %}
      <td>{{ student.rollno }}</td>
      {% if show_photo %}
      <td><img border="0"  src="{% get_media_prefix %}{{student.imagePath}}" WIDTH=100></td>
      {% endif %}      
      <td>{{ student.presentCount }}</td>
    </tr>
    {% endfor %}
    <tr>
    </tr>
  </table>

{% endcomment %}
 
</div>

<table style="border: 1px solid black">
    <tr>
      <th>Roll No</th>
      <th>Events</th>
    </tr>
    {% for rollno, cs in print_calls.items %}
    <tr>
      <td>
        {{ rollno }}
        <!-- <a href="{% url 'status' rollno %}">{{ rollno }}</a> -->
      </td>
      <td>
        {% for c in cs %}
           {% if c.is_correct %} 
              <font color="green">{{ c.answer_time|date:"Y-m-d" }}</font>
           {% else %}
              <font color="red">{{ c.answer_time|date:"Y-m-d" }}</font>
           {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
</table> 

{% else %}
    <p>No students are available.</p>
{% endif %}

