{% if student_list %}
<h2>Status of all students</h2>
<div>
  Attendance count:
  <table style="border: 1px solid black">
    <tr><th> Calls result </th> <th># of calls</th></tr>
    <tr>
      <td>Absent</td>
      <td>
        <svg width="200" height="25">
          <rect width="{{ absent_count }}" height="20" style="fill:rgb(0,0,255)" />
        </svg>{{ absent_count }}
      </td>
    </tr>
    <tr>
      <td>Sleepy</td>
      <td>
        <svg width="200" height="25">
          <rect width="{{ present_count }}" height="20" style="fill:rgb(0,0,255)" />
        </svg>{{ present_count }}
      </td>
    </tr>
    <tr>
      <td>Awake</td>
      <td>
        <svg width="200" height="25">
          <rect width="{{ awake_count }}" height="20" style="fill:rgb(0,0,255)" />
        </svg>{{ awake_count }}
      </td>
    </tr>
  </table> 
  Call counts:
  <table style="border: 1px solid black">
    <tr>
      <td># of calls</td>
      {% for idx in called_idxs %}
      <td>{{ idx }}</td>
      {% endfor %}
    </tr>
    <tr>
      <td># of students</td>
      {% for count in called_counts %}
      <td>
        {{ count }}
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td></td>
      {% for count in called_counts %}
      <td>
        <svg width="25" height="200">
          <rect y="-0" width="20" height="{{ count }}" style="fill:rgb(0,0,255)" />
        </svg>
      </td>
      {% endfor %}
    </tr>
  </table> 
</div>
  <table style="border: 1px solid black">
    <tr><th>Name</th> <th>Roll No</th>
      {% if show_photo %}
      <th>Photo</th>
      {% endif %}
      <th>Absent</th> <th>Sleepy</th> <th>Awake</th> </tr>
    {% for student in student_list %}
    <tr>
      <td>{{ student.name }}</td>
      <td>{{ student.rollno }}</td>
      {% if show_photo %}
      <td><img border="0"  src="/images/{{student.imagePath}}" WIDTH=100></td>
      {% endif %}      
      <td>{{ student.absentCount }}</td>
      <td>{{ student.presentCount }}</td>
      <td>{{ student.awakeCount }}</td>
    </tr>
    {% endfor %}
  <tr>
  </tr>
</table> 
{% else %}
    <p>No students are available.</p>
{% endif %}

