{% extends 'base.html' %}

{% block body_attr %}
{% endblock %}

{% block pagestyle %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #dddddd
  }

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(odd) {
    background-color: #eeeeee;
  }
</style>

{% endblock %}

{% block content %}

{% if is_auth %}

<h1>RollNo. {{ sa.rollno }} </h1>
{% if yet_to_answer %}

<h1 style=font-size:50px>Options</h1>
<form class="ui form attached fluid segment" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.non_field_errors }}
 <table>
  <tr><td><label class="ui container">{{ form.ans1 }} {{ op1 }}</label></td></tr>
  <tr><td><label class="ui container">{{ form.ans2 }} {{ op2 }}</label></td></tr>
  <tr><td><label class="ui container">{{ form.ans3 }} {{ op3 }}</label></td></tr>
  <tr><td><label class="ui container">{{ form.ans4 }} {{ op4 }}</label></td></tr>
 </table>
 <button type="submit">Answer</button>
</form>
<p><span class="ui red label">Note: please be careful before submit.
    You will not be able to change the answers.</span></p>

{% else %}
You have already answered the following:
<table>
  {% include 'studenthome/qoption.html' with op=op1 ans=sa.ans1 q_ans=q_ans1 %}
  {% include 'studenthome/qoption.html' with op=op2 ans=sa.ans2 q_ans=q_ans2 %}
  {% include 'studenthome/qoption.html' with op=op3 ans=sa.ans3 q_ans=q_ans3 %}
  {% include 'studenthome/qoption.html' with op=op4 ans=sa.ans4 q_ans=q_ans4 %}
 </table>
 {% endif %}
{% else %}
    Please <a href="{% url 'login' %}">login</a>!
{% endif %}

 To change student, please logout and login again.
 <div>
   <a href="{% url 'logout' %}" class="ui label red" >Logout</a>
 </div>

{% endblock %}
