{% extends 'base.html' %}

{% block body_attr %}
{% endblock %}

{% block pagestyle %}
{% endblock %}

{% block content %}

<div class="ui container">
  <h1>Dashboard</h1>
  <div class="ui container">
    {% if messages %}
     {% for message in messages %}
       <p class=" ui {{ message.tags }} tiny message">{{ message }}</p>
      {% endfor %}
    {% endif %}
  </div>

{% if is_prof %}
  
<div>
<a href="{% url 'startq' %}" class="ui label blue" >Start Quiz</a>
<a href="{% url 'createq' %}" class="ui label blue" >Questions</a>
</div>
<br>
<div>
<a href="{% url 'all' %}" class="ui label blue" >All Students</a>
<a href="{% url 'biobreak' dayhash %}" class="ui label blue" >BioBreak</a>
<a href="{% url 'createexamroom' %}" class="ui label blue" >Exam rooms</a>
</div>
<br>
<div>
<!-- <a href="{% url 'all' %}" class="ui label blue" >All Students</a> -->
<!-- <a href="{% url 'biobreak' dayhash %}" class="ui label blue" >BioBreak</a> -->
<a href="{% url 'createexam' %}" class="ui label blue" >Exams</a>
</div>
<br>
<div>
<a href="{% url 'logout' %}" class="ui label red" >Logout</a>
</div>
{% else %}
You are taking courses: {{ student.course }}

{% for course,escores in scores.items %}
  <h1>{{ course }}</h1>
  {% if escores.items %}
  {% for exam,exam_marks in escores.items %}
    <h3>{{ exam.name }} marks</h3>
    <table style="border: 1px solid black">
      <tr>
        <th>Question</th>
        <th>Initial Marks</th>
        <th>TA Crib</th>    
        <th>Instructor Crib</th>    
      </tr>
      {% if exam_marks %}
      {% for e in exam_marks %}
      <tr>
        <td>{{ e.q      }} </td>
        <td>{{ e.marks  }} </td>
        <td>
          {% if e.response_time %}
            {% if e.is_accepted %}
            New marks: {{ e.crib_marks }}
            {% else %}
            <span style="color:red">Rejected</span>
            {% endif %}
          {% elif e.raise_time %}
            {% if exam.is_cribs_active %}
              Goto TA
            {% endif %}
          {% else %}
            {% if exam.is_cribs_active %}
              <a href="{%url 'raisecrib' e.id %}" class="ui label blue">Raise crib</a>
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if e.response_time2 %}
            {% if e.is_accepted2 %}
            Final marks: {{ e.crib_marks2 }}
            {% else %}
            <span style="color:red">Rejected</span>
            {% endif %}
          {% elif e.raise_time2 %}
            {% if exam.is_cribs_active %}
              Goto Instructor
            {% endif %}
          {% elif e.response_time %}
            In case of an error by TA, you may contact the instructor.
            {% if exam.is_cribs_active %}
              <a href="{%url 'raisecrib2' e.id %}" class="ui label blue">Raise crib</a>
            {% endif %}
          {% endif %}          
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>  
  {% endfor %}
  {% else %}
    No exams for this course!  
  {% endif %}
{% endfor %}  
<br>
<h1>Quiz status</h1>
Quiz is not running!! Refresh to check if it is running now!
{% endif %}
</div>


{% endblock %}
