{% extends 'base.html' %}

{% block body_attr %}
{% endblock %}

{% block pagestyle %}
{% endblock %}

{% block content %}

<div class="ui container">
  <h1>Dashboard  <a href="{% url 'logout' %}" class="ui label red" >Logout</a> </h1>
  <div class="ui container">
    {% if messages %}
     {% for message in messages %}
       <p class=" ui {{ message.tags }} tiny message">{{ message }}</p>
      {% endfor %}
    {% endif %}
  </div>

{% if is_prof %}
  
<div>
<h3>Daily quiz</h3>
<a href="{% url 'startq' %}" class="ui button blue" >Start Quiz</a>
<a href="{% url 'createq' %}" class="ui button blue" >Questions</a>
</div>
<h3>Exam results</h3>
<div>
<a href="{% url 'all' %}" class="ui button blue" >All Students</a>
<a href="{% url 'createexam' %}" class="ui button blue" >Exams</a>
<a href="{% url 'totalscores' %}" class="ui button red" >Compute total scores</a>
<h3>Exam operations</h3>
<div>
<a href="{% url 'createexamroom' %}" class="ui button blue" >Exam rooms</a>
<a href="{%url 'editexamupdate' '1' %}" class="ui button blue">Update exam date</a>
</div>
<h3>Exam Day</h3>
<div>
<a href="{% url 'biobreak' dayhash %}" class="ui button blue" >BioBreak</a>
<a href="{% url 'createswitchseat' %}" class="ui button blue" >Switch Seat</a>
</div>
<br>
<div>
</div>
{% else %}
You are taking courses: {{ student.course }}

{% if next_exam %}
<h1>Seating</h1>
Your seating for the exam on {{next_exam}}: <strong>{{student.exam_room}} {{student.exam_seat}} </strong>
{% endif %}
<br>

{% if student.total_scores %}
Your total scores: <strong>{{student.total_scores}}  </strong>
<br>
{% endif %}
{% if student.absent %}
Your accepted claims: <strong>{{student.absent}}  </strong>
<br>
{% endif %}

{% for course,escores in scores.items %}
  <h1>{{ course }}</h1>
  {% if escores.items %}
  {% for exam,exam_marks in escores.items %}
    <h3>{{ exam.name }} marks (Maximum marks: {{exam.total}}, Weight: {{exam.weight}}%)</h3>
    <table style="border: 1px solid black">
      <tr>
        <th>Question</th>
        <th>Initial Marks</th>
        <th>Comment</th>    
        <th>TA Crib</th>    
        <th>Instructor Crib</th>    
      </tr>
      {% if exam_marks %}
      {% for e in exam_marks %}
      <tr>
        <td>{{ e.q      }} </td>
        <td>{{ e.marks  }} </td>
        <td>{{ e.comment}} </td>
        <td>
          {% if e.response_time %}
             Claim: {{e.claim}}<br>
            {% if e.is_accepted %}
             <span style="color:blue">Response: {{e.response}}</span><br>
             Crib marks: {{ e.crib_marks }}
            {% else %}
            <span style="color:red">Response: Rejected (Reason: {{e.response}})</span>
            {% endif %}
          {% elif e.raise_time %}
            Claim: {{e.claim}}<br>
            {% if exam.is_cribs_active %}
              Goto TA, Crib Token: {{e.crib_num}}
            {% endif %}
          {% else %}
            {% if exam.is_cribs_active %}
              <a href="{%url 'raisecrib' e.id %}" class="ui label blue">Raise crib</a>
            {% endif %}
          {% endif %}
        </td>
        <td>
          {% if e.response_time2 %}
            Claim: {{e.claim2}}<br>
            {% if e.is_accepted2 %}
             <span style="color:blue">Response: {{e.response2}}</span><br>
             Instructor marks: {{ e.crib_marks2 }}
            {% else %}
            <span style="color:red">Rejected</span>
            {% endif %}
          {% elif e.raise_time2 %}
            Claim: {{e.claim2}}<br>
            {% if exam.is_cribs_active %}
              Goto Instructor
            {% endif %}
          {% elif e.response_time %}
            {% if exam.is_cribs_active %}
              <a href="{%url 'raisecrib2' e.id %}" class="ui label blue" onclick="return confirm('Are you sure? Please write clearly about your objection to the TA decision. If there is no clarity, the instructor may reduce your marks for repeated frivolous claims. You have only three appeals available in the entire course! ');">Appeal</a>
            {% endif %}
          {% endif %}          
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>  
  {% endfor %}
  {% else %}
    No exam results for this course yet!  
  {% endif %}
{% endfor %}  
<br>
<h1>Quiz status</h1>
Quiz is not running!! Refresh to check if it is running now!
{% endif %}
</div>


{% endblock %}
