{% load static %}

{% if student %}
<h2>{{ student.name }} ({{ student.rollno }})</h2>
<div >
  <table>  
    <tr> <td><img border="0"  src="{% get_media_prefix %}{{student.imagePath}}" WIDTH=300></td> <td>
        <div style="color:white;font-size:30px;background-color:red;width:150px;height:150px;"><a href="{% url 'call'%}">Next random student</a></div>
    </td> </tr>
  </table> 
  <div>
  <div><a href="{% url 'index'%}">Go home</a></div>


  {% comment %}

  {% if getstatus %}
  <form action="{% url 'status' student.rollno %}" method="post" style="display: inline;vertical-align:top">
    {% csrf_token %}
    <input type="submit" name="status" value="Absent" style="color:white;font-size:30px;background-color:red;width:150px;height:150px;"/><br>
    <input type="submit" name="status" value="Present" style="color:white;font-size:30px;background-color:green;width:150px;height:150px;" />
  </form>
  {% endif %}

  <p>Absent: {{ student.absentCount }} Present: {{ student.presentCount }} </p>
    {% if getstatus == False %}
    <table style="border: 1px solid black">
      {% for c in call_list %}
      <tr>
        <td>
          {% if c.status == 'Absent' %}
          <font color="red">{{ c.created_on|date:"Y-m-d" }}</font> 
          {% else %}
          <font color="green">{{ c.created_on|date:"Y-m-d" }}</font> 
          {% endif %}
        </td>
        <td>
          <form action="{% url 'status' student.rollno %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="event" value={{c.created_on|date:"c"}}>
            <input type="submit" name="status" value="Delete" />
          </form>
        </td>
        <td>
          <form action="{% url 'status' student.rollno %}" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="event" value={{c.created_on|date:"c"}}>
            <input type="submit" name="status" value="Flip Attendance" />
          </form>
        </td>
      </tr>
      {% endfor %} 
    </table>
    Add an attendance
    <form action="{% url 'status' student.rollno %}" method="post">
      {% csrf_token %}
      <input type="submit" name="status" value="Absent" style="color:white;font-size:30px;background-color:red;width:150px;height:50px;"/>
      <input type="submit" name="status" value="Present" style="color:white;font-size:30px;background-color:green;width:150px;height:50px;" />
    </form>
    Warning: clinking at the following button will permanently delete the student from DB.
    <form action="{% url 'status' student.rollno %}" method="post">
      {% csrf_token %}
      <input type="submit" name="status" value="Remove student" style="color:white;font-size:30px;background-color:red;width:300px;height:50px;" onclick="return confirm('Are you sure?');"/>
    </form>
    {% endif %}
  {% endcomment %}

{% else %}
    <p>No student found.</p>
{% endif %}
