{% if student %}
    <h2>{{ student.name }} ({{ student.rollno }})</h2>
<p>Absent: {{ student.absentCount }} Sleepy: {{ student.presentCount }} Awake: {{ student.awakeCount }} </>
<div><img border="0"  src="/images/{{student.imagePath}}" WIDTH=300><div>
    {% if getstatus %}
      <form action="/{{student.id}}/" method="post">
        {% csrf_token %}
        <input type="submit" name="status" value="Absent" />
        <input type="submit" name="status" value="Sleepy" />
        <input type="submit" name="status" value="Awake" />      
      </form>
    {% endif %}
    <div><a href="/">Next student</a></div>
{% else %}
    <p>No student found.</p>
{% endif %}
