 {% if op %}
<tr>
  <td>
    {% if ans != None %}
    <font color= {% if ans %}"green">✔{% else %}"red">✘{% endif %} </font>
    {% else %}
    (No answer submitted)
    {% endif %}
    {{ op }}
    {% if q_ans != None %}
     {% if ans == q_ans %} (You are correct) {% else %} (You are incorrect) {% endif %}
    {% endif %}
    {% if corrects or wrongs %}
    <font color= {% if corrects > wrongs %} "green" {% else %} "red" {% endif %}> 
      ( Correct answers: {{ corrects }}, Wrong answers: {{ wrongs }} )
    </font>
    {% endif %}    
  </td>
</tr>
{% endif %}
