{% extends 'base.html' %}

{% block body_attr %}
{% endblock %}

{% block pagestyle %}
<meta http-equiv="refresh" content="3">
{% endblock %}

{% block content %}

<div class="ui container">

<h1 style=font-size:50px>Q : {{q}}</h1>

{% for s in students %}
{% if s.curr_status == 'ABSENT' %}
<font color="lightgray">{{s.rollno}}</font>
{% elif s.curr_status == 'CORRECT' %}
<font color="green">{{s.rollno}}</font>
{% else %}
<font color="red">{{s.rollno}}</font>
{% endif %}
{% endfor %}


<p><a href="{% url 'stopq' %}" class="ui label blue" >Stop quiz</a></p>

<!-- <a href="{% url 'logout' %}" class="ui label blue" >Logout</a> -->

</div>


{% endblock %}
