{% extends 'base.html' %}

{% load static %}
{% load mathfilters %}
{% load utils_filter %}

{% block content %}

<div>

  {% for room, students in room_map.items %}
  <h1> {{cid}} : {{room}}</h1>
  <table style="border: 1px solid black">
    <tr>
      <th style="width:80px"> Assigned </th>
      <th style="width:120px">Assinged sitting here</th>
      <th style="width:120px">Assigned sitting in another room</th>
      <th style="width:100px">Extras from other rooms</th>
      <th style="width:80px"> Absent</th>
      <th style="width:80px"> Total seated here</th>
    </tr>
    <tr>
      <td>(a)</td>
      <td>(b)</td>
      <td>(c)</td>
      <td>(d)</td>
      <td>(a)-(b)-(c)</td>
      <td>(b)+(d)</td>
    </tr>
    <tr>
      <td>{{students|length}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <h2>Extra students sitting in the room</h2>
  <table style="border: 1px solid black">
    <tr>
      <th style="width:100px">Name</th>
      <th style="width:100px">Roll No</th>
      <th style="width:100px">From where</th>
      <th style="width:100px">Seat</th>
      <th style="width:100px">Sign</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <div>
    {% if unused_map|hash:room %}
    Unused seats : {{unused_map | hash:room}}
    {% else %}
    All enabled seats are occupied.
    {% endif %}
  </div>
  <div>
    {% if disabled_map|hash:room %}
    Disabled seats : {{disabled_map | hash:room}}
    {% endif %}
  </div>
  
  <div class="pagebreak"> </div>
  <table style="border: 1px solid black">
    <!-- <tr> -->
    <!--   <th style="width:100px">Name</th> -->
    <!--   <th>Roll No</th> -->
    <!--   <th>Photo</th> -->
    <!--   <th>Room</th> -->
    <!--   <th>Seat</th> -->
    <!--   <th style="width:200px">Sign</th> -->
    <!-- </tr> -->
    {% for student in students %}
    <tr>
      <td style="width:100px">
        {{ student.name }}
      </td>
      <td>
        {{ student.rollno }}
        {% if student.isPwd %}
        **
        {% endif %}
      </td>
      <td><img border="0"  src="{% get_media_prefix %}{{student.imagePath}}" WIDTH=90></td>
      <td style="width:80px">{{ student.exam_room }}</td>
      <td style="width:30px">{{ student.exam_seat }}</td>
      <td style="width:200px"></td>
      <!-- <td>{{ student.presentCount }}</td> -->
    </tr>
    {% endfor %}
    <tr>
    </tr>
  </table>
  <div class="pagebreak"> </div>
  {% endfor %}

  <div class="pagebreak"> </div>
  Roll No.,Name,Room No.,Seat No.<br>
  {% for room, students in room_map.items %}
    {% for student in students %}
      {{ student.rollno}},{{student.name}},{{ student.exam_room }},{{ student.exam_seat }}<br>
    {% endfor %}
  {% endfor %}
 
</div>



{% endblock %}
