{% extends 'base.html' %}

{% load static %}
{% load mathfilters %}
{% load utils_filter %}

{% block content %}

<div>

  {% for room, students in room_map.items %}
  <h1> {{room}}</h1>
  <table style="border: 1px solid black">
    <tr>
      <th style="width:80px"> Assigned </th>
      <th style="width:120px">Assinged sitting here</th>
      <th style="width:120px">Assigned sitting in another room</th>
      <th style="width:100px">Extras from other rooms</th>
      <th style="width:80px"> Absent</th>
      <th style="width:80px"> Total seated here</th>
    </tr>
    <tr>
      <td>(a)</td>
      <td>(b)</td>
      <td>(c)</td>
      <td>(d)</td>
      <td>(a)-(b)-(c)</td>
      <td>(b)+(d)</td>
    </tr>
    <tr>
      <td>{{students|length}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <h2>Extra students sitting in the room</h2>
  <table style="border: 1px solid black">
    <tr>
      <th style="width:100px">Name</th>
      <th style="width:100px">Roll No</th>
      <th style="width:100px">Seat</th>
      <th style="width:100px">Sign</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <div class="pagebreak"> </div>
  <table style="border: 1px solid black">
    <tr>
      <th style="width:100px">Name</th>
      <th>Roll No</th>
      <th>Photo</th>
      <th>Room</th>
      <th>Seat</th>
      <th style="width:200px">Sign</th>
    </tr>
    {% for student in students %}
    <tr>
      <td>{{ student.name }}</td>
      <td>{{ student.rollno }}</td>
      <td><img border="0"  src="{% get_media_prefix %}{{student.imagePath}}" WIDTH=100></td>
      <td>{{ student.exam_room }}</td>
      <td>{{ student.exam_seat }}</td>
      <td></td>
      <!-- <td>{{ student.presentCount }}</td> -->
    </tr>
    {% endfor %}
    <tr>
    </tr>
  </table>
  <div class="pagebreak"> </div>
  {% endfor %}

  <div class="pagebreak"> </div>
  <table style="border: 1px solid black">
    <tr>
      <th>Roll No</th>
      <th>Room</th>
      <th>Seat</th>
    </tr>
    {% for room, students in room_map.items %}
    {% for student in students %}
    <tr>
      <td>{{ student.rollno    }}</td>
      <td>{{ student.exam_room }}</td>
      <td>{{ student.exam_seat }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
    <tr>
    </tr>
  </table>
 
</div>



{% endblock %}
