{% extends 'base.html' %}

{% block body_attr %}
{% endblock %}

{% block pagestyle %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #dddddd
  }

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(odd) {
    background-color: #eeeeee;
  }
</style>

{% endblock %}

{% block content %}

<h1>{{ q.q }} </h1>

<div>
  <table>
    {% if op1 %} <tr><td><font color= {% if q.ans1 %}"green">✔{% else %}"red">✘{% endif %} </font> {{ op1 }}</td></tr> {% endif %}
    {% if op2 %} <tr><td><font color= {% if q.ans2 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op2 }}</td></tr> {% endif %}
    {% if op3 %} <tr><td><font color= {% if q.ans3 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op3 }}</td></tr> {% endif %}
    {% if op4 %} <tr><td><font color= {% if q.ans4 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op4 }}</td></tr> {% endif %}
    {% if op5 %} <tr><td><font color= {% if q.ans5 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op5 }}</td></tr> {% endif %}
    {% if op6 %} <tr><td><font color= {% if q.ans6 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op6 }}</td></tr> {% endif %}
    {% if op7 %} <tr><td><font color= {% if q.ans7 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op7 }}</td></tr> {% endif %}
    {% if op8 %} <tr><td><font color= {% if q.ans8 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op8 }}</td></tr> {% endif %}
    {% if op9 %} <tr><td><font color= {% if q.ans9 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op9 }}</td></tr> {% endif %}
    {% if op10 %} <tr><td><font color= {% if q.ans10 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op10 }}</td></tr> {% endif %}
    {% if op11 %} <tr><td><font color= {% if q.ans11 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op11 }}</td></tr> {% endif %}
    {% if op12 %} <tr><td><font color= {% if q.ans12 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op12 }}</td></tr> {% endif %}
    {% if op13 %} <tr><td><font color= {% if q.ans13 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op13 }}</td></tr> {% endif %}
    {% if op14 %} <tr><td><font color= {% if q.ans14 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op14 }}</td></tr> {% endif %}
    {% if op15 %} <tr><td><font color= {% if q.ans15 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op15 }}</td></tr> {% endif %}
    {% if op16 %} <tr><td><font color= {% if q.ans16 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op16 }}</td></tr> {% endif %}
    {% if op17 %} <tr><td><font color= {% if q.ans17 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op17 }}</td></tr> {% endif %}
    {% if op18 %} <tr><td><font color= {% if q.ans18 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op18 }}</td></tr> {% endif %}
    {% if op19 %} <tr><td><font color= {% if q.ans19 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op19 }}</td></tr> {% endif %}
    {% if op20 %} <tr><td><font color= {% if q.ans20 %}"green">✔{% else %}"red">✘{% endif %} </font>{{ op20 }}</td></tr> {% endif %}
  </table> 
</div>

{% endblock %}
