{% extends 'base.html' %}

{% block body_attr %}
{% endblock %}

{% block pagestyle %}
{% endblock %}

{% block content %}

{% if is_auth %}
<div><a href="{% url 'index'%}" class="ui label blue">Go home</a></div>

<br>

<div class="ui container">
  <h1>Create Exam</h1>

  <div class="ui container">
    {% if messages %}
     {% for message in messages %}
       <p class=" ui {{ message.tags }} tiny message">{{ message }}</p>
      {% endfor %}
    {% endif %}
  </div>

<form class="ui form attached fluid segment" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="ui button blue" type="submit">Create</button>  
</form>
</div>

<div class="ui container">


<h1>Exams</h1>

<table style="border: 1px solid black">
<tr>
    <th>Name</th>
    <th>Course</th>
    <th>Total score</th>
    <th>Weight</th>
    <th>#Questions</th>
    <th>View</th>
    <th>Crib</th>
    <th></th>
    <th></th>
  </tr>
  {% for r in exams %}
  <tr>
    <td>{{ r.name      }}</td>
    <td>{{ r.course    }}</td>
    <td>{{ r.total     }}</td>
    <td>{{ r.weight    }}</td>
    <td>{{ r.num_q     }}</td>
    <td>
    <a href="{%url 'viewexam' r.id %}" class="ui label blue">View Scores</a>
    </td>
    <td>
      {% if r.is_cribs_active %}
      <a href="{%url 'criblinks' r.id r.link %}" class="ui label blue">Crib links</a>
      <a href="{%url 'cribs2' r.id %}" class="ui label blue">Appeals</a>
      <a href="{%url 'disablecrib' r.id %}" class="ui label red">Disable</a>
      {% else %}
      <a href="{%url 'enablecrib' r.id %}" class="ui label blue">Enable</a>
      {% endif %}
    </td>
    <td>
    <a href="{%url 'regradeexam' r.id %}" class="ui label red">Regrade</a>
    </td>
    <td>
      <a href="{%url 'editexam' r.id %}" onclick="return confirm('Are you sure that you want to edit exam {{r.name}}?');">Edit</a>
    </td>
    <td>
      <a href="{%url 'deleteexam' r.id %}" onclick="return confirm('Are you sure that you want to delete exam {{r.name}}?');">Delete</a>
    </td>    
  </tr>
  {% endfor %}
  <tr>
  </tr>
</table>
</div>

{% else %}
Please <a href="{% url 'admin:index' %}">login</a>!


{% endif %}

{% endblock %}
