{% extends 'base.html' %}

{% block body_attr %}
{% endblock %}

{% block pagestyle %}
{% endblock %}

{% block content %}

<div class="ui container">
  <h1>Score for {{exam.name}}</h1>
  
<a href="{% url 'createexam' %}" class="ui label blue" >Exams</a>

<table style="border: 1px solid black">
  <tr>
    <th>Roll No</th>
    <th>Total</th>
    {% for i in qs %}
    <th>Q{{i}}</th>    
    {% endfor %}
  </tr>
  {% for student_score in scores %}
  <tr>
    {% for score in student_score %}
    <td>
      {{score}}
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

</div>



<div>
Roll No,Total,
{% for i in qs %}
Q{{i}},
{% endfor %}
<br>
{% for student_score in scores %}
{% for score in student_score %}
{{score}},
{% endfor %}
<br>
{% endfor %}  
</div>

{% endblock %}
