{% extends 'base.html' %}

{% block body_attr %}
{% endblock %}

{% block pagestyle %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid #dddddd
  }

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(odd) {
    background-color: #eeeeee;
  }
</style>

{% endblock %}

{% block content %}

<h1>{{ q.q }} </h1>

<div>
  <table>
    {% include 'studenthome/qoption.html' with op=op1 ans=q.ans1 corrects=c_num_1 wrongs=w_num_1 %}
    {% include 'studenthome/qoption.html' with op=op2 ans=q.ans2 corrects=c_num_2 wrongs=w_num_2 %}
    {% include 'studenthome/qoption.html' with op=op3 ans=q.ans3 corrects=c_num_3 wrongs=w_num_3 %}
    {% include 'studenthome/qoption.html' with op=op4 ans=q.ans4 corrects=c_num_4 wrongs=w_num_4 %}
    {% include 'studenthome/qoption.html' with op=op5 ans=q.ans5 corrects=c_num_5 wrongs=w_num_5 %}
    {% include 'studenthome/qoption.html' with op=op6 ans=q.ans6 corrects=c_num_6 wrongs=w_num_6 %}
    {% include 'studenthome/qoption.html' with op=op7 ans=q.ans7 corrects=c_num_7 wrongs=w_num_7 %}
    {% include 'studenthome/qoption.html' with op=op8 ans=q.ans8 corrects=c_num_8 wrongs=w_num_8 %}
    {% include 'studenthome/qoption.html' with op=op9 ans=q.ans9 corrects=c_num_9 wrongs=w_num_9 %}
    {% include 'studenthome/qoption.html' with op=op10 ans=q.ans10 corrects=c_num_10 wrongs=w_num_10 %}
    {% include 'studenthome/qoption.html' with op=op11 ans=q.ans11 corrects=c_num_11 wrongs=w_num_11 %}
    {% include 'studenthome/qoption.html' with op=op12 ans=q.ans12 corrects=c_num_12 wrongs=w_num_12 %}
    {% include 'studenthome/qoption.html' with op=op13 ans=q.ans13 corrects=c_num_13 wrongs=w_num_13 %}
    {% include 'studenthome/qoption.html' with op=op14 ans=q.ans14 corrects=c_num_14 wrongs=w_num_14 %}
    {% include 'studenthome/qoption.html' with op=op15 ans=q.ans15 corrects=c_num_15 wrongs=w_num_15 %}
    {% include 'studenthome/qoption.html' with op=op16 ans=q.ans16 corrects=c_num_16 wrongs=w_num_16 %}
    {% include 'studenthome/qoption.html' with op=op17 ans=q.ans17 corrects=c_num_17 wrongs=w_num_17 %}
    {% include 'studenthome/qoption.html' with op=op18 ans=q.ans18 corrects=c_num_18 wrongs=w_num_18 %}
    {% include 'studenthome/qoption.html' with op=op19 ans=q.ans19 corrects=c_num_19 wrongs=w_num_19 %}
    {% include 'studenthome/qoption.html' with op=op20 ans=q.ans20 corrects=c_num_20 wrongs=w_num_20 %}
  </table> 
</div>

{% endblock %}
