{% extends 'base.html' %}

{% block body_attr %}
{% endblock %}

{% block pagestyle %}
<meta http-equiv="refresh" content="5">
{% endblock %}

{% block content %}

<div class="ui container">

  <h1>
    {% if appeal %}
    Appeals for
    {% else %}
    Cribs for question {{qid}} of
    {% endif %}
    {{exam.name}}</h1>

  <!-- style="border: 1px solid black" -->
  
  
<table id="cribs" class="display">
<tr>
  <th>Token No.</th>
  <th>Roll No.</th>
  <th>Marks</th>
  <th>Comment</th>
  <th>Claim</th>    
  {% if appeal %}
  <th>TA Decision</th>    
  <th>Appeal</th>    
  <th>Appeal Time</th>
  {% else %}
  <th>Raise Time</th>
  {% endif %}
  <th></th>    
  </tr>
  {% for e in cribs %}
  <tr>
    <td>{{e.crib_num   }}</td>
    {% if appeal %}
    {% else %}
    {% endif %}
    <td>{{ e.rollno    }}</td>
    <td>{{ e.marks     }}</td>
    <td>{{ e.comment   }}</td>
    <td>{{ e.claim     }}</td>
    {% if appeal %}
      <td>{{ e.raise_time2}}</td>
      {% if e.is_accepted %}
      <td>{{e.response}}<br>Crib marks: {{ e.crib_marks }}</td>
      {% else %}
      <td>{{e.response}}<br>Rejected </td>
      {% endif %}
      <td>{{ e.claim2    }}</td>
      <td>
        <a href="{%url 'responsecrib2' e.id %}" class="ui label blue">Respond</a>
      </td>
    {% else %}
    <td>{{ e.raise_time}}</td>
    <td>
      <a href="{%url 'responsecrib' e.id link %}" class="ui label blue">Respond</a>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  <tr>
  </tr>
</table>

<h1>Responded Cribs</h1>

<table style="border: 1px solid black">
<tr>
  <th>Roll No.</th>
  <th>Marks</th>
  <th>Comment</th>
  <th>Claim</th>    
  <th>Response</th>    
  {% if appeal %}
  <th>TA Decision</th>    
  <th>Appeal</th>    
  <th>Instructor Response</th>    
  {% endif %}
  <th>Status</th>    
  <th></th>    
  </tr>
  {% for e in dones %}
  <tr>
    <td>{{ e.rollno    }}</td>
    <td>{{ e.marks     }}</td>
    <td>{{ e.comment   }}</td>
    <td>{{ e.claim     }}</td>
    <td>{{ e.response  }}</td>
    <td>
      {% if e.is_accepted %}
      New marks: {{ e.crib_marks }}
      {% else %}
      <span style="color:red">Rejected</span>
      {% endif %}
    </td>
    {% if appeal %}    
    <td>{{ e.claim2    }}</td>
    <td>{{ e.response2 }}</td>
    <td>
      {% if e.is_accepted2 %}
      New marks: {{ e.crib_marks2 }}
      {% else %}
      <span style="color:red">Rejected</span>
      {% endif %}
    </td>    
    <td><a href="{%url 'responsecrib2' e.id %}" class="ui label blue">Update Response</a></td>
    {% else %}
    <td>
      {% if e.raise_time2 %}
      <span style="color:red">Appealed</span>
      {% else %}
      <a href="{%url 'responsecrib' e.id link %}" class="ui label blue">Update Response</a>
      {% endif %}
    </td>
    {% endif %}
  </tr>
  {% endfor %}
  <tr>
  </tr>
</table>

</div>

{% endblock %}
